/* Overridden styles from v1 */

.image-explorer-wrapper {
    max-width: 800px;
    width: 100%;
    min-height: 400px;
}

.image-explorer-hotspot-reveal {
    min-height: 600px;
    max-width: 100%;
    min-width: 100%;
}

.image-explorer-hotspot-content-wrapper {
    padding: 35px 15px 15px 15px;
}

/* New Styles in v2*/
.overlay-container{
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px 2px #ccc;
    text-align: center;
}

.tutorial-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
    visibility: hidden;
}

.tutorial-wrapper .tutorial-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 390px;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 20px #000000;
}

.tutorial-wrapper .tutorial-container h3{
    font-size: 18px;
    color: #2e82cc;
}

.tutorial-wrapper .tutorial-container .tutorial-video{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: url('../images/IE_Instruction_Anim_Blue.gif') no-repeat center center;
    background-size: 100%;
}

.tutorial-wrapper .tutorial-container p{
    font-size: 14px;
    line-height: 20px;
    max-width: 80%;
    color: #4f4f4f;
    margin: 0 auto;
    font-family: "Times New Roman", Times, serif;
}
.tutorial-wrapper .tutorial-container a{
    display: inline-block;
    padding: 20px 0 10px;
    width: 170px;
    border-top: 1px solid #ccc;
    font-size: 15px;
    color: #2e82cc;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.overlay-container.shown .tutorial-wrapper{
    visibility: visible;
    display: block;
}

.overlay-container.shown .image-explorer-wrapper{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}


.hotspot-detail{
    display: none;
    width: calc(40% - 60px);
    float: right;
    vertical-align: top;
    box-shadow: -2px 0 12px 0 #ccc;
    min-height: 600px;
    text-align: left;
}

.overlay-container.details-shown{
    min-height: 500px;
}

.overlay-container.details-shown .image-explorer-wrapper{
    position: absolute;
    left: 25px;
    top: 50%;
    width: 60%;
    transform: translateY(-50%);
}

/* adding class when hotspot detail is shown*/

.image-explorer-xblock-wrapper.data-reveal .image-explorer-wrapper{
    width: auto;
}


