{% autoescape off %}
<div class="image-explorer-xblock-wrapper">
    <h2>{{title}}</h2>
    {% if description_html %}
    <div class="image-explorer-description">
        {{ description_html }}
    </div>
    {% endif %}
    <div class="image-explorer-wrapper">
        <img src="{{background.src}}" class="image-explorer-background" />
        {% for hotspot in hotspots %}
        <a class="image-explorer-hotspot" style="position: absolute; top: {{hotspot.y}}px; left: {{hotspot.x}}px; background-image: url('{{sprite_url}}')" data-item-id="{{hotspot.item_id}}" href="#">
                <div class="image-explorer-hotspot-reveal" {{hotspot.reveal_style}}>
                    <div class="image-explorer-close-reveal">&#xf057;</div>
                    <div class="image-explorer-hotspot-content-wrapper">
                        {% if hotspot.feedback.header %}
                            <span class="image-explorer-hotspot-reveal-header">
                                {{hotspot.feedback.header}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.body %}
                            <span class="image-explorer-hotspot-reveal-body">
                                {{hotspot.feedback.body}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.youtube %}
                            <div class="image-explorer-hotspot-reveal-youtube">
                                <iframe id="player" type="text/html" width="{{hotspot.feedback.youtube.width}}" height="{{hotspot.feedback.youtube.height}}" src="//www.youtube.com/embed/{{hotspot.feedback.youtube.video_id}}?enablejsapi=1" frameborder="0"></iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endautoescape %}
