{% autoescape off %}
<div class="image-explorer-xblock-wrapper">
    <h2>{{title}}</h2>
    {% if description_html %}
    <div class="image-explorer-description">
        {{ description_html }}
    </div>
    {% endif %}
    <div class="image-explorer-wrapper">
        <img src="{{background.src}}" class="image-explorer-background" />
        {% for hotspot in hotspots %}
        <div class="image-explorer-hotspot {% if hotspot_coordinates_centered %}centered{% endif %}{% if hotspot.visited %} visited {% endif %}"
             style="position: absolute; top: {{hotspot.y}}; left: {{hotspot.x}};"
             data-item-id="{{hotspot.item_id}}">
                <div class="image-explorer-hotspot-reveal" {{hotspot.reveal_style}} data-side="{{ hotspot.feedback.side }}">
                    <div class="image-explorer-close-reveal">&#xf057;</div>
                    <div class="image-explorer-hotspot-content-wrapper">
                        {% if hotspot.feedback.header %}
                            <span class="image-explorer-hotspot-reveal-header">
                                {{hotspot.feedback.header}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.body %}
                            <span class="image-explorer-hotspot-reveal-body">
                                {{hotspot.feedback.body}}
                            </span>
                        {% endif %}
                        {% if hotspot.feedback.youtube %}
                            <div class="image-explorer-hotspot-reveal-youtube">
                                <iframe id="{{hotspot.feedback.youtube.id}}" class="youtube-player" type="text/html" width="{{hotspot.feedback.youtube.width}}" height="{{hotspot.feedback.youtube.height}}" src="https://www.youtube.com/embed/{{hotspot.feedback.youtube.video_id}}?enablejsapi=1" frameborder="0"></iframe>
                            </div>
                        {% endif %}
                        {% if hotspot.feedback.ooyala %}
                            <div class="ooyala-element" id="{{hotspot.feedback.ooyala.id}}" style="width: {{hotspot.feedback.ooyala.width}}px; height: {{hotspot.feedback.ooyala.height}}px;" data-video-id="{{hotspot.feedback.ooyala.video_id}}"></div>
                        {% endif %}
                        {% if hotspot.feedback.bcove %}
                            <video-js
                                id="{{hotspot.feedback.bcove.id}}"
                                data-account="{{hotspot.feedback.bcove.account_id}}"
                                data-player="default"
                                data-embed="default"
                                data-video-id="{{hotspot.feedback.bcove.video_id}}"
                                controls=""
                                playsinline=""
                                style="width:{{hotspot.feedback.bcove.width}}; height:{{hotspot.feedback.bcove.height}}">
                            </video-js>
                            <script src="https://players.brightcove.net/{{hotspot.feedback.bcove.account_id}}/default_default/index.min.js"></script>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endautoescape %}
